In [7]:
!pip install openpyxl
#! pip install seaborn

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
                                              0.0/250.0 kB ? eta -:--:--
     ------------------                     122.9/250.0 kB 3.5 MB/s eta 0:00:01
     -------------------------------------- 250.0/250.0 kB 3.8 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

[notice] A new release of pip is available: 23.1.2 -> 23.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import csv
import datetime as dt
import calendar
import warnings
import openpyxl
warnings.filterwarnings('ignore')
# File to Load (Remember to Change These)
adidas_sales_data_to_load = "../data/Adidas US Sales Datasets.xlsx"
# Convert xlsx to csv
adidas_sales_df = pd.read_excel(adidas_sales_data_to_load)
# Save to file
adidas_sales_df.to_csv("../data/adidas_sales_df.csv", index=False, header=True)

In [2]:
# load adidas_sales_df.csv
adidas_sales_df = pd.read_csv("../data/adidas_sales_df.csv")
adidas_sales_df.head(10)
# drop rows 0-2 and columns 0 and make (row, column) = (3,1) to (3, 13) the new header
adidas_sales_df = adidas_sales_df.iloc[3:, 1:13]
adidas_sales_df.head(10)
# rename columns the same as row 3
adidas_sales_df.columns = adidas_sales_df.iloc[0]
adidas_sales_df.head(10)
# drop row 3
adidas_sales_df = adidas_sales_df.iloc[1:]
adidas_sales_df.head(10)
# save to file
adidas_sales_df.to_csv("../data/adidas_sales_df.csv", index=False, header=True)
# load adidas_sales_df.csv
adidas_sales_df = pd.read_csv("../data/adidas_sales_df.csv")
adidas_sales_df.head(10)

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin
0,Foot Locker,1185732,2020-01-01 00:00:00,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.0,0.50
1,Foot Locker,1185732,2020-01-02 00:00:00,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.0,0.30
2,Foot Locker,1185732,2020-01-03 00:00:00,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.0,0.35
3,Foot Locker,1185732,2020-01-04 00:00:00,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.0,0.35
4,Foot Locker,1185732,2020-01-05 00:00:00,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.0,0.30
5,Foot Locker,1185732,2020-01-06 00:00:00,Northeast,New York,New York,Women's Apparel,50.0,1000,500000.0,125000.0,0.25
6,Foot Locker,1185732,2020-01-07 00:00:00,Northeast,New York,New York,Men's Street Footwear,50.0,1250,625000.0,312500.0,0.50
7,Foot Locker,1185732,2020-01-08 00:00:00,Northeast,New York,New York,Men's Athletic Footwear,50.0,900,450000.0,135000.0,0.30
8,Foot Locker,1185732,2020-01-21 00:00:00,Northeast,New York,New York,Women's Street Footwear,40.0,950,380000.0,133000.0,0.35
9,Foot Locker,1185732,2020-01-22 00:00:00,Northeast,New York,New York,Women's Athletic Footwear,45.0,825,371250.0,129937.5,0.35

In [3]:
# Create a new column "Year" and "Month" and "Day" from "Date" column
adidas_sales_df['Year'] = pd.DatetimeIndex(adidas_sales_df['Invoice Date']).year
adidas_sales_df['Month'] = pd.DatetimeIndex(adidas_sales_df['Invoice Date']).month
adidas_sales_df['Day'] = pd.DatetimeIndex(adidas_sales_df['Invoice Date']).day
adidas_sales_df.head(10)
# save to file
adidas_sales_df.to_csv("../data/adidas_sales_df.csv", index=False, header=True)
# load adidas_sales_df.csv
adidas_sales_df = pd.read_csv("../data/adidas_sales_df.csv")
adidas_sales_df.head(10)

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Year,Month,Day
0,Foot Locker,1185732,2020-01-01 00:00:00,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.0,0.50,2020,1,1
1,Foot Locker,1185732,2020-01-02 00:00:00,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.0,0.30,2020,1,2
2,Foot Locker,1185732,2020-01-03 00:00:00,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.0,0.35,2020,1,3
3,Foot Locker,1185732,2020-01-04 00:00:00,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.0,0.35,2020,1,4
4,Foot Locker,1185732,2020-01-05 00:00:00,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.0,0.30,2020,1,5
5,Foot Locker,1185732,2020-01-06 00:00:00,Northeast,New York,New York,Women's Apparel,50.0,1000,500000.0,125000.0,0.25,2020,1,6
6,Foot Locker,1185732,2020-01-07 00:00:00,Northeast,New York,New York,Men's Street Footwear,50.0,1250,625000.0,312500.0,0.50,2020,1,7
7,Foot Locker,1185732,2020-01-08 00:00:00,Northeast,New York,New York,Men's Athletic Footwear,50.0,900,450000.0,135000.0,0.30,2020,1,8
8,Foot Locker,1185732,2020-01-21 00:00:00,Northeast,New York,New York,Women's Street Footwear,40.0,950,380000.0,133000.0,0.35,2020,1,21
9,Foot Locker,1185732,2020-01-22 00:00:00,Northeast,New York,New York,Women's Athletic Footwear,45.0,825,371250.0,129937.5,0.35,2020,1,22

In [4]:
# Change the columns of the df to be: ['Retailer', 'Retailer ID','Invoice Date', 'Day','Month', 'Year','Region', 'State', 'City',
#       'Product', 'Price per Unit', 'Units Sold', 'Total Sales',
#       'Operating Profit', 'Operating Margin']
adidas_sales_df = adidas_sales_df[['Retailer', 'Retailer ID','Invoice Date', 'Day','Month', 'Year','Region', 'State', 'City',
         'Product', 'Price per Unit', 'Units Sold', 'Total Sales',
            'Operating Profit', 'Operating Margin']]
adidas_sales_df.head(10)
# save to file
adidas_sales_df.to_csv("../data/adidas_sales_df.csv", index=False, header=True)
# load adidas_sales_df.csv
adidas_sales_df = pd.read_csv("../data/adidas_sales_df.csv")
adidas_sales_df.head(10)

,Retailer,Retailer ID,Invoice Date,Day,Month,Year,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin
0,Foot Locker,1185732,2020-01-01 00:00:00,1,1,2020,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.0,0.50
1,Foot Locker,1185732,2020-01-02 00:00:00,2,1,2020,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.0,0.30
2,Foot Locker,1185732,2020-01-03 00:00:00,3,1,2020,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.0,0.35
3,Foot Locker,1185732,2020-01-04 00:00:00,4,1,2020,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.0,0.35
4,Foot Locker,1185732,2020-01-05 00:00:00,5,1,2020,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.0,0.30
5,Foot Locker,1185732,2020-01-06 00:00:00,6,1,2020,Northeast,New York,New York,Women's Apparel,50.0,1000,500000.0,125000.0,0.25
6,Foot Locker,1185732,2020-01-07 00:00:00,7,1,2020,Northeast,New York,New York,Men's Street Footwear,50.0,1250,625000.0,312500.0,0.50
7,Foot Locker,1185732,2020-01-08 00:00:00,8,1,2020,Northeast,New York,New York,Men's Athletic Footwear,50.0,900,450000.0,135000.0,0.30
8,Foot Locker,1185732,2020-01-21 00:00:00,21,1,2020,Northeast,New York,New York,Women's Street Footwear,40.0,950,380000.0,133000.0,0.35
9,Foot Locker,1185732,2020-01-22 00:00:00,22,1,2020,Northeast,New York,New York,Women's Athletic Footwear,45.0,825,371250.0,129937.5,0.35

In [5]:
# number of rows
adidas_sales_df.shape[0]

9648

In [23]:
# Breaking the data into 5 csvs for each reagion
# Create 5 new dataframes for the following regions: Northeast, Southeast, Midwest, South, and West
# Northeast
adidas_sales_df_Northeast = adidas_sales_df.loc[adidas_sales_df["Region"] == "Northeast"]
adidas_sales_df_Northeast.head(10)
# save to file
adidas_sales_df_Northeast.to_csv("../data/adidas_sales_df_Northeast.csv", index=False, header=True)
# load adidas_sales_df_Northeast.csv
adidas_sales_df_Northeast = pd.read_csv("../data/adidas_sales_df_Northeast.csv")
adidas_sales_df_Northeast.head(10)
# Southeast
adidas_sales_df_Southeast = adidas_sales_df.loc[adidas_sales_df["Region"] == "Southeast"]
adidas_sales_df_Southeast.head(10)
# save to file
adidas_sales_df_Southeast.to_csv("../data/adidas_sales_df_Southeast.csv", index=False, header=True)
# load adidas_sales_df_Southeast.csv
adidas_sales_df_Southeast = pd.read_csv("../data/adidas_sales_df_Southeast.csv")
adidas_sales_df_Southeast.head(10)
# Midwest
adidas_sales_df_Midwest = adidas_sales_df.loc[adidas_sales_df["Region"] == "Midwest"]
adidas_sales_df_Midwest.head(10)
# save to file
adidas_sales_df_Midwest.to_csv("../data/adidas_sales_df_Midwest.csv", index=False, header=True)
# load adidas_sales_df_Midwest.csv
adidas_sales_df_Midwest = pd.read_csv("../data/adidas_sales_df_Midwest.csv")
adidas_sales_df_Midwest.head(10)
# South
adidas_sales_df_South = adidas_sales_df.loc[adidas_sales_df["Region"] == "South"]
adidas_sales_df_South.head(10)
# save to file
adidas_sales_df_South.to_csv("../data/adidas_sales_df_South.csv", index=False, header=True)
# load adidas_sales_df_South.csv
adidas_sales_df_South = pd.read_csv("../data/adidas_sales_df_South.csv")
adidas_sales_df_South.head(10)
# West
adidas_sales_df_West = adidas_sales_df.loc[adidas_sales_df["Region"] == "West"]
adidas_sales_df_West.head(10)
# save to file
adidas_sales_df_West.to_csv("../data/adidas_sales_df_West.csv", index=False, header=True)
# load adidas_sales_df_West.csv
adidas_sales_df_West = pd.read_csv("../data/adidas_sales_df_West.csv")
adidas_sales_df_West.head(10)

,Retailer,Retailer ID,Invoice Date,Day,Month,Year,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin
0,West Gear,1128299,2020-11-05 00:00:00,5,11,2020,West,California,San Francisco,Men's Apparel,55.0,575,316250.0,158125.0,0.50
1,West Gear,1128299,2020-11-06 00:00:00,6,11,2020,West,California,San Francisco,Women's Apparel,50.0,775,387500.0,58125.0,0.15
2,West Gear,1128299,2020-11-07 00:00:00,7,11,2020,West,California,San Francisco,Men's Street Footwear,40.0,825,330000.0,115500.0,0.35
3,West Gear,1128299,2020-11-08 00:00:00,8,11,2020,West,California,San Francisco,Men's Athletic Footwear,50.0,725,362500.0,72500.0,0.20
4,West Gear,1128299,2020-11-09 00:00:00,9,11,2020,West,California,San Francisco,Women's Street Footwear,50.0,725,362500.0,126875.0,0.35
5,West Gear,1128299,2020-11-10 00:00:00,10,11,2020,West,California,San Francisco,Women's Athletic Footwear,50.0,575,287500.0,86250.0,0.30
6,West Gear,1128299,2020-11-11 00:00:00,11,11,2020,West,California,San Francisco,Men's Apparel,55.0,500,275000.0,137500.0,0.50
7,West Gear,1128299,2020-11-12 00:00:00,12,11,2020,West,California,San Francisco,Women's Apparel,50.0,700,350000.0,52500.0,0.15
8,West Gear,1128299,2020-11-13 00:00:00,13,11,2020,West,California,San Francisco,Men's Street Footwear,50.0,850,425000.0,148750.0,0.35
9,West Gear,1128299,2020-11-14 00:00:00,14,11,2020,West,California,San Francisco,Men's Athletic Footwear,60.0,700,420000.0,84000.0,0.20

In [20]:
# Regional Sales Data and visualization

# Calculate Total Sales by State for each Region

Midwest_Sales = adidas_sales_df_Midwest.groupby(["State"])["Total Sales"].sum()
Midwest_Sales.head()

State
Illinois     9797488.0
Indiana      8836198.0
Iowa         7424011.0
Kansas       9972864.0
Michigan    18625433.0
Name: Total Sales, dtype: float64

In [21]:
West_Sales = adidas_sales_df_West.groupby(["State"])["Total Sales"].sum()
West_Sales.head()

State
Alaska        14753103.0
Arizona       15782221.0
California    60174133.0
Colorado      20996536.0
Hawaii        22282457.0
Name: Total Sales, dtype: float64

In [24]:
South_Sales = adidas_sales_df_South.groupby(["State"])["Total Sales"].sum()
South_Sales.head()

State
Alabama        17633424.0
Arkansas       12639347.0
Louisiana      23750781.0
Mississippi    15591709.0
Oklahoma       10620734.0
Name: Total Sales, dtype: float64

In [ ]:
Southeast_Sales = adidas_sales_df_Southeast.groupby(["State"])["Total Sales"].sum()
Southeast_Sales.head()

In [19]:
Northeast_Sales = adidas_sales_df_Northeast.groupby(["State"])["Total Sales"].sum()
Northeast_Sales.head()

State
Connecticut      11573448.0
Delaware         12298412.0
Maine             9195978.0
Maryland          7758059.0
Massachusetts    11076810.0
Name: Total Sales, dtype: float64

In [30]:
# Determine Retailer with highest sales in each Region

Midwest_Retailer = adidas_sales_df_Midwest.groupby(["Region", "Retailer"])["Total Sales"].sum()
Midwest_Retailer

Region   Retailer
Midwest  Amazon           16835873.0
         Foot Locker      47987394.0
         Kohl's           22229415.0
         Sports Direct    26207191.0
         West Gear        22540586.0
Name: Total Sales, dtype: float64

In [32]:
West_Retailer = adidas_sales_df_West.groupby(["Region", "Retailer"])["Total Sales"].sum()
West_Retailer

Region  Retailer
West    Amazon            13365025.0
        Foot Locker       37804709.0
        Kohl's            62302115.0
        Sports Direct     12129045.0
        Walmart            6791008.0
        West Gear        137551280.0
Name: Total Sales, dtype: float64

In [34]:
Southeast_Retailer = adidas_sales_df_Southeast.groupby(["Region", "Retailer"])["Total Sales"].sum()
Southeast_Retailer

Region     Retailer
Southeast  Amazon           10826333.0
           Foot Locker      59669118.0
           Sports Direct    54178543.0
           Walmart          21005539.0
           West Gear        17491703.0
Name: Total Sales, dtype: float64

In [35]:
Northeast_Retailer = adidas_sales_df_Northeast.groupby(["Region", "Retailer"])["Total Sales"].sum()
Northeast_Retailer

Region     Retailer
Northeast  Amazon           36262590.0
           Foot Locker      65326474.0
           Kohl's           14031168.0
           Sports Direct    24698097.0
           Walmart          13712005.0
           West Gear        32293733.0
Name: Total Sales, dtype: float64

In [29]:
South_Retailer = adidas_sales_df_South.groupby(["Region", "Retailer"])["Total Sales"].sum()
South_Retailer

Region  Retailer
South   Amazon             409091.0
        Foot Locker       9307025.0
        Kohl's            3552055.0
        Sports Direct    65258121.0
        Walmart          33049858.0
        West Gear        33087031.0
Name: Total Sales, dtype: float64