In [7]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     --------------- ---------------------- 102.4/250.0 kB 3.0 MB/s eta 0:00:01
     -------------------------------------- 250.0/250.0 kB 3.9 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [18]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import csv
import datetime as dt
import calendar
import warnings
import openpyxl
warnings.filterwarnings('ignore')
# File to Load (Remember to Change These)
adidas_sales_data_to_load = "../data/Adidas US Sales Datasets.xlsx"
# Convert xlsx to csv
adidas_sales_df = pd.read_excel(adidas_sales_data_to_load)
# Save to file
adidas_sales_df.to_csv("../data/adidas_sales_df.csv", index=False, header=True)

In [19]:
# load adidas_sales_df.csv
adidas_sales_df = pd.read_csv("../data/adidas_sales_df.csv")
adidas_sales_df.head(10)
# drop rows 0-2 and columns 0 and make (row, column) = (3,1) to (3, 13) the new header
adidas_sales_df = adidas_sales_df.iloc[3:, 1:13]
adidas_sales_df.head(10)
# rename columns the same as row 3
adidas_sales_df.columns = adidas_sales_df.iloc[0]
adidas_sales_df.head(10)
# drop row 3
adidas_sales_df = adidas_sales_df.iloc[1:]
adidas_sales_df.head(10)
# save to file
adidas_sales_df.to_csv("../data/adidas_sales_df.csv", index=False, header=True)
# load adidas_sales_df.csv
adidas_sales_df = pd.read_csv("../data/adidas_sales_df.csv")
adidas_sales_df.head(10)

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin
0,Foot Locker,1185732,2020-01-01 00:00:00,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.0,0.50
1,Foot Locker,1185732,2020-01-02 00:00:00,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.0,0.30
2,Foot Locker,1185732,2020-01-03 00:00:00,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.0,0.35
3,Foot Locker,1185732,2020-01-04 00:00:00,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.0,0.35
4,Foot Locker,1185732,2020-01-05 00:00:00,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.0,0.30
5,Foot Locker,1185732,2020-01-06 00:00:00,Northeast,New York,New York,Women's Apparel,50.0,1000,500000.0,125000.0,0.25
6,Foot Locker,1185732,2020-01-07 00:00:00,Northeast,New York,New York,Men's Street Footwear,50.0,1250,625000.0,312500.0,0.50
7,Foot Locker,1185732,2020-01-08 00:00:00,Northeast,New York,New York,Men's Athletic Footwear,50.0,900,450000.0,135000.0,0.30
8,Foot Locker,1185732,2020-01-21 00:00:00,Northeast,New York,New York,Women's Street Footwear,40.0,950,380000.0,133000.0,0.35
9,Foot Locker,1185732,2020-01-22 00:00:00,Northeast,New York,New York,Women's Athletic Footwear,45.0,825,371250.0,129937.5,0.35

In [22]:
# Create a new column "Year" and "Month" and "Day" from "Date" column
adidas_sales_df['Year'] = pd.DatetimeIndex(adidas_sales_df['Invoice Date']).year
adidas_sales_df['Month'] = pd.DatetimeIndex(adidas_sales_df['Invoice Date']).month
adidas_sales_df['Day'] = pd.DatetimeIndex(adidas_sales_df['Invoice Date']).day
adidas_sales_df.head(10)
# save to file
adidas_sales_df.to_csv("../data/adidas_sales_df.csv", index=False, header=True)
# load adidas_sales_df.csv
adidas_sales_df = pd.read_csv("../data/adidas_sales_df.csv")
adidas_sales_df.head(10)

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Year,Month,Day
0,Foot Locker,1185732,2020-01-01 00:00:00,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.0,0.50,2020,1,1
1,Foot Locker,1185732,2020-01-02 00:00:00,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.0,0.30,2020,1,2
2,Foot Locker,1185732,2020-01-03 00:00:00,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.0,0.35,2020,1,3
3,Foot Locker,1185732,2020-01-04 00:00:00,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.0,0.35,2020,1,4
4,Foot Locker,1185732,2020-01-05 00:00:00,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.0,0.30,2020,1,5
5,Foot Locker,1185732,2020-01-06 00:00:00,Northeast,New York,New York,Women's Apparel,50.0,1000,500000.0,125000.0,0.25,2020,1,6
6,Foot Locker,1185732,2020-01-07 00:00:00,Northeast,New York,New York,Men's Street Footwear,50.0,1250,625000.0,312500.0,0.50,2020,1,7
7,Foot Locker,1185732,2020-01-08 00:00:00,Northeast,New York,New York,Men's Athletic Footwear,50.0,900,450000.0,135000.0,0.30,2020,1,8
8,Foot Locker,1185732,2020-01-21 00:00:00,Northeast,New York,New York,Women's Street Footwear,40.0,950,380000.0,133000.0,0.35,2020,1,21
9,Foot Locker,1185732,2020-01-22 00:00:00,Northeast,New York,New York,Women's Athletic Footwear,45.0,825,371250.0,129937.5,0.35,2020,1,22

In [28]:
# Change the columns of the df to be: ['Retailer', 'Retailer ID','Invoice Date', 'Day','Month', 'Year','Region', 'State', 'City',
#       'Product', 'Price per Unit', 'Units Sold', 'Total Sales',
#       'Operating Profit', 'Operating Margin']
adidas_sales_df = adidas_sales_df[['Retailer', 'Retailer ID','Invoice Date', 'Day','Month', 'Year','Region', 'State', 'City',
         'Product', 'Price per Unit', 'Units Sold', 'Total Sales',
            'Operating Profit', 'Operating Margin']]
adidas_sales_df.head(10)
# save to file
adidas_sales_df.to_csv("../data/adidas_sales_df.csv", index=False, header=True)
# load adidas_sales_df.csv
adidas_sales_df = pd.read_csv("../data/adidas_sales_df.csv")
adidas_sales_df.head(10)

,Retailer,Retailer ID,Invoice Date,Day,Month,Year,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin
0,Foot Locker,1185732,2020-01-01,1,1,2020,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.0,0.50
1,Foot Locker,1185732,2020-01-02,2,1,2020,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.0,0.30
2,Foot Locker,1185732,2020-01-03,3,1,2020,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.0,0.35
3,Foot Locker,1185732,2020-01-04,4,1,2020,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.0,0.35
4,Foot Locker,1185732,2020-01-05,5,1,2020,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.0,0.30
5,Foot Locker,1185732,2020-01-06,6,1,2020,Northeast,New York,New York,Women's Apparel,50.0,1000,500000.0,125000.0,0.25
6,Foot Locker,1185732,2020-01-07,7,1,2020,Northeast,New York,New York,Men's Street Footwear,50.0,1250,625000.0,312500.0,0.50
7,Foot Locker,1185732,2020-01-08,8,1,2020,Northeast,New York,New York,Men's Athletic Footwear,50.0,900,450000.0,135000.0,0.30
8,Foot Locker,1185732,2020-01-21,21,1,2020,Northeast,New York,New York,Women's Street Footwear,40.0,950,380000.0,133000.0,0.35
9,Foot Locker,1185732,2020-01-22,22,1,2020,Northeast,New York,New York,Women's Athletic Footwear,45.0,825,371250.0,129937.5,0.35

In [29]:
# number of rows
adidas_sales_df.shape[0]

9648