In [7]:
!pip install openpyxl
#! pip install seaborn

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
                                              0.0/250.0 kB ? eta -:--:--
     ------------------                     122.9/250.0 kB 3.5 MB/s eta 0:00:01
     -------------------------------------- 250.0/250.0 kB 3.8 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

[notice] A new release of pip is available: 23.1.2 -> 23.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import csv
import datetime as dt
import calendar
import warnings
import openpyxl
warnings.filterwarnings('ignore')
# File to Load (Remember to Change These)
adidas_sales_data_to_load = "../data/Adidas US Sales Datasets.xlsx"
# Convert xlsx to csv
adidas_sales_df = pd.read_excel(adidas_sales_data_to_load)
# Save to file
adidas_sales_df.to_csv("../data/adidas_sales_df.csv", index=False, header=True)

In [9]:
# load adidas_sales_df.csv
adidas_sales_df = pd.read_csv("../data/adidas_sales_df.csv")
adidas_sales_df.head(10)
# drop rows 0-2 and columns 0 and make (row, column) = (3,1) to (3, 13) the new header
adidas_sales_df = adidas_sales_df.iloc[3:, 1:13]
adidas_sales_df.head(10)
# rename columns the same as row 3
adidas_sales_df.columns = adidas_sales_df.iloc[0]
adidas_sales_df.head(10)
# drop row 3
adidas_sales_df = adidas_sales_df.iloc[1:]
adidas_sales_df.head(10)
# save to file
adidas_sales_df.to_csv("../data/adidas_sales_df.csv", index=False, header=True)
# load adidas_sales_df.csv
adidas_sales_df = pd.read_csv("../data/adidas_sales_df.csv")
adidas_sales_df.head(10)

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin
0,Foot Locker,1185732,2020-01-01 00:00:00,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.0,0.50
1,Foot Locker,1185732,2020-01-02 00:00:00,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.0,0.30
2,Foot Locker,1185732,2020-01-03 00:00:00,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.0,0.35
3,Foot Locker,1185732,2020-01-04 00:00:00,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.0,0.35
4,Foot Locker,1185732,2020-01-05 00:00:00,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.0,0.30
5,Foot Locker,1185732,2020-01-06 00:00:00,Northeast,New York,New York,Women's Apparel,50.0,1000,500000.0,125000.0,0.25
6,Foot Locker,1185732,2020-01-07 00:00:00,Northeast,New York,New York,Men's Street Footwear,50.0,1250,625000.0,312500.0,0.50
7,Foot Locker,1185732,2020-01-08 00:00:00,Northeast,New York,New York,Men's Athletic Footwear,50.0,900,450000.0,135000.0,0.30
8,Foot Locker,1185732,2020-01-21 00:00:00,Northeast,New York,New York,Women's Street Footwear,40.0,950,380000.0,133000.0,0.35
9,Foot Locker,1185732,2020-01-22 00:00:00,Northeast,New York,New York,Women's Athletic Footwear,45.0,825,371250.0,129937.5,0.35

In [10]:
# Create a new column "Year" and "Month" and "Day" from "Date" column
adidas_sales_df['Year'] = pd.DatetimeIndex(adidas_sales_df['Invoice Date']).year
adidas_sales_df['Month'] = pd.DatetimeIndex(adidas_sales_df['Invoice Date']).month
adidas_sales_df['Day'] = pd.DatetimeIndex(adidas_sales_df['Invoice Date']).day
adidas_sales_df.head(10)
# save to file
adidas_sales_df.to_csv("../data/adidas_sales_df.csv", index=False, header=True)
# load adidas_sales_df.csv
adidas_sales_df = pd.read_csv("../data/adidas_sales_df.csv")
adidas_sales_df.head(10)

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Year,Month,Day
0,Foot Locker,1185732,2020-01-01 00:00:00,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.0,0.50,2020,1,1
1,Foot Locker,1185732,2020-01-02 00:00:00,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.0,0.30,2020,1,2
2,Foot Locker,1185732,2020-01-03 00:00:00,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.0,0.35,2020,1,3
3,Foot Locker,1185732,2020-01-04 00:00:00,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.0,0.35,2020,1,4
4,Foot Locker,1185732,2020-01-05 00:00:00,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.0,0.30,2020,1,5
5,Foot Locker,1185732,2020-01-06 00:00:00,Northeast,New York,New York,Women's Apparel,50.0,1000,500000.0,125000.0,0.25,2020,1,6
6,Foot Locker,1185732,2020-01-07 00:00:00,Northeast,New York,New York,Men's Street Footwear,50.0,1250,625000.0,312500.0,0.50,2020,1,7
7,Foot Locker,1185732,2020-01-08 00:00:00,Northeast,New York,New York,Men's Athletic Footwear,50.0,900,450000.0,135000.0,0.30,2020,1,8
8,Foot Locker,1185732,2020-01-21 00:00:00,Northeast,New York,New York,Women's Street Footwear,40.0,950,380000.0,133000.0,0.35,2020,1,21
9,Foot Locker,1185732,2020-01-22 00:00:00,Northeast,New York,New York,Women's Athletic Footwear,45.0,825,371250.0,129937.5,0.35,2020,1,22

In [28]:
# Change the columns of the df to be: ['Retailer', 'Retailer ID','Invoice Date', 'Day','Month', 'Year','Region', 'State', 'City',
#       'Product', 'Price per Unit', 'Units Sold', 'Total Sales',
#       'Operating Profit', 'Operating Margin']
adidas_sales_df = adidas_sales_df[['Retailer', 'Retailer ID','Invoice Date', 'Day','Month', 'Year','Region', 'State', 'City',
         'Product', 'Price per Unit', 'Units Sold', 'Total Sales',
            'Operating Profit', 'Operating Margin']]
adidas_sales_df.head(10)
# save to file
adidas_sales_df.to_csv("../data/adidas_sales_df.csv", index=False, header=True)
# load adidas_sales_df.csv
adidas_sales_df = pd.read_csv("../data/adidas_sales_df.csv")
adidas_sales_df.head(10)

,Retailer,Retailer ID,Invoice Date,Day,Month,Year,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin
0,Foot Locker,1185732,2020-01-01,1,1,2020,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.0,0.50
1,Foot Locker,1185732,2020-01-02,2,1,2020,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.0,0.30
2,Foot Locker,1185732,2020-01-03,3,1,2020,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.0,0.35
3,Foot Locker,1185732,2020-01-04,4,1,2020,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.0,0.35
4,Foot Locker,1185732,2020-01-05,5,1,2020,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.0,0.30
5,Foot Locker,1185732,2020-01-06,6,1,2020,Northeast,New York,New York,Women's Apparel,50.0,1000,500000.0,125000.0,0.25
6,Foot Locker,1185732,2020-01-07,7,1,2020,Northeast,New York,New York,Men's Street Footwear,50.0,1250,625000.0,312500.0,0.50
7,Foot Locker,1185732,2020-01-08,8,1,2020,Northeast,New York,New York,Men's Athletic Footwear,50.0,900,450000.0,135000.0,0.30
8,Foot Locker,1185732,2020-01-21,21,1,2020,Northeast,New York,New York,Women's Street Footwear,40.0,950,380000.0,133000.0,0.35
9,Foot Locker,1185732,2020-01-22,22,1,2020,Northeast,New York,New York,Women's Athletic Footwear,45.0,825,371250.0,129937.5,0.35

In [11]:
# number of rows
adidas_sales_df.shape[0]

9648

In [12]:
# Breaking the data into 5 csvs for each reagion
# Create 5 new dataframes for the following regions: Northeast, Southeast, Midwest, Southwest, and West
# Northeast
adidas_sales_df_Northeast = adidas_sales_df.loc[adidas_sales_df["Region"] == "Northeast"]
adidas_sales_df_Northeast.head(10)
# save to file
adidas_sales_df_Northeast.to_csv("../data/adidas_sales_df_Northeast.csv", index=False, header=True)
# load adidas_sales_df_Northeast.csv
adidas_sales_df_Northeast = pd.read_csv("../data/adidas_sales_df_Northeast.csv")
adidas_sales_df_Northeast.head(10)
# Southeast
adidas_sales_df_Southeast = adidas_sales_df.loc[adidas_sales_df["Region"] == "Southeast"]
adidas_sales_df_Southeast.head(10)
# save to file
adidas_sales_df_Southeast.to_csv("../data/adidas_sales_df_Southeast.csv", index=False, header=True)
# load adidas_sales_df_Southeast.csv
adidas_sales_df_Southeast = pd.read_csv("../data/adidas_sales_df_Southeast.csv")
adidas_sales_df_Southeast.head(10)
# Midwest
adidas_sales_df_Midwest = adidas_sales_df.loc[adidas_sales_df["Region"] == "Midwest"]
adidas_sales_df_Midwest.head(10)
# save to file
adidas_sales_df_Midwest.to_csv("../data/adidas_sales_df_Midwest.csv", index=False, header=True)
# load adidas_sales_df_Midwest.csv
adidas_sales_df_Midwest = pd.read_csv("../data/adidas_sales_df_Midwest.csv")
adidas_sales_df_Midwest.head(10)
# Southwest
adidas_sales_df_Southwest = adidas_sales_df.loc[adidas_sales_df["Region"] == "Southwest"]
adidas_sales_df_Southwest.head(10)
# save to file
adidas_sales_df_Southwest.to_csv("../data/adidas_sales_df_Southwest.csv", index=False, header=True)
# load adidas_sales_df_Southwest.csv
adidas_sales_df_Southwest = pd.read_csv("../data/adidas_sales_df_Southwest.csv")
adidas_sales_df_Southwest.head(10)
# West
adidas_sales_df_West = adidas_sales_df.loc[adidas_sales_df["Region"] == "West"]
adidas_sales_df_West.head(10)
# save to file
adidas_sales_df_West.to_csv("../data/adidas_sales_df_West.csv", index=False, header=True)
# load adidas_sales_df_West.csv
adidas_sales_df_West = pd.read_csv("../data/adidas_sales_df_West.csv")
adidas_sales_df_West.head(10)

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Year,Month,Day
0,West Gear,1128299,2020-11-05 00:00:00,West,California,San Francisco,Men's Apparel,55.0,575,316250.0,158125.0,0.50,2020,11,5
1,West Gear,1128299,2020-11-06 00:00:00,West,California,San Francisco,Women's Apparel,50.0,775,387500.0,58125.0,0.15,2020,11,6
2,West Gear,1128299,2020-11-07 00:00:00,West,California,San Francisco,Men's Street Footwear,40.0,825,330000.0,115500.0,0.35,2020,11,7
3,West Gear,1128299,2020-11-08 00:00:00,West,California,San Francisco,Men's Athletic Footwear,50.0,725,362500.0,72500.0,0.20,2020,11,8
4,West Gear,1128299,2020-11-09 00:00:00,West,California,San Francisco,Women's Street Footwear,50.0,725,362500.0,126875.0,0.35,2020,11,9
5,West Gear,1128299,2020-11-10 00:00:00,West,California,San Francisco,Women's Athletic Footwear,50.0,575,287500.0,86250.0,0.30,2020,11,10
6,West Gear,1128299,2020-11-11 00:00:00,West,California,San Francisco,Men's Apparel,55.0,500,275000.0,137500.0,0.50,2020,11,11
7,West Gear,1128299,2020-11-12 00:00:00,West,California,San Francisco,Women's Apparel,50.0,700,350000.0,52500.0,0.15,2020,11,12
8,West Gear,1128299,2020-11-13 00:00:00,West,California,San Francisco,Men's Street Footwear,50.0,850,425000.0,148750.0,0.35,2020,11,13
9,West Gear,1128299,2020-11-14 00:00:00,West,California,San Francisco,Men's Athletic Footwear,60.0,700,420000.0,84000.0,0.20,2020,11,14