In [32]:
! pip install openpyxl
! pip install seaborn

Requirement already satisfied: openpyxl in c:\users\kyleb\appdata\local\programs\python\python311\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\kyleb\appdata\local\programs\python\python311\lib\site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: seaborn in c:\users\kyleb\appdata\local\programs\python\python311\lib\site-packages (0.12.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\kyleb\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (1.25.1)
Requirement already satisfied: pandas>=0.25 in c:\users\kyleb\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (2.0.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\kyleb\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (3.7.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\kyleb\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.1.0)
Requirement already satisfied: cycler>=0.10 in c:\users\kyleb\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\kyleb\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.41.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\kyleb\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\kyleb\appdata\roaming\python\python311\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\kyleb\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (10.0.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\kyleb\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\kyleb\appdata\roaming\python\python311\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\kyleb\appdata\local\programs\python\python311\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\kyleb\appdata\local\programs\python\python311\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\kyleb\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [33]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import csv
import datetime as dt
import calendar
import warnings
import openpyxl
warnings.filterwarnings('ignore')
# File to Load (Remember to Change These)
adidas_sales_data_to_load = "../data/Adidas US Sales Datasets.xlsx"
# Convert xlsx to csv
adidas_sales_df = pd.read_excel(adidas_sales_data_to_load)
# Save to file
adidas_sales_df.to_csv("../data/adidas_sales_df.csv", index=False, header=True)

In [34]:
# load adidas_sales_df.csv
adidas_sales_df = pd.read_csv("../data/adidas_sales_df.csv")
adidas_sales_df.head(10)
# drop rows 0-2 and columns 0 and make (row, column) = (3,1) to (3, 14) the new header
adidas_sales_df = adidas_sales_df.iloc[3:, 1:14]
adidas_sales_df.head(10)
# rename columns the same as row 3
adidas_sales_df.columns = adidas_sales_df.iloc[0]
adidas_sales_df.head(10)
# drop row 3
adidas_sales_df = adidas_sales_df.iloc[1:]
adidas_sales_df.head(10)
# save to file
adidas_sales_df.to_csv("../data/adidas_sales_df.csv", index=False, header=True)
# load adidas_sales_df.csv
adidas_sales_df = pd.read_csv("../data/adidas_sales_df.csv")
adidas_sales_df.head(10)

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,2020-01-01 00:00:00,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.0,0.50,In-store
1,Foot Locker,1185732,2020-01-02 00:00:00,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.0,0.30,In-store
2,Foot Locker,1185732,2020-01-03 00:00:00,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.0,0.35,In-store
3,Foot Locker,1185732,2020-01-04 00:00:00,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.0,0.35,In-store
4,Foot Locker,1185732,2020-01-05 00:00:00,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.0,0.30,In-store
5,Foot Locker,1185732,2020-01-06 00:00:00,Northeast,New York,New York,Women's Apparel,50.0,1000,500000.0,125000.0,0.25,In-store
6,Foot Locker,1185732,2020-01-07 00:00:00,Northeast,New York,New York,Men's Street Footwear,50.0,1250,625000.0,312500.0,0.50,In-store
7,Foot Locker,1185732,2020-01-08 00:00:00,Northeast,New York,New York,Men's Athletic Footwear,50.0,900,450000.0,135000.0,0.30,Outlet
8,Foot Locker,1185732,2020-01-21 00:00:00,Northeast,New York,New York,Women's Street Footwear,40.0,950,380000.0,133000.0,0.35,Outlet
9,Foot Locker,1185732,2020-01-22 00:00:00,Northeast,New York,New York,Women's Athletic Footwear,45.0,825,371250.0,129937.5,0.35,Outlet

In [35]:
# Create a new column "Year" and "Month" and "Day" from "Date" column
adidas_sales_df['Year'] = pd.DatetimeIndex(adidas_sales_df['Invoice Date']).year
adidas_sales_df['Month'] = pd.DatetimeIndex(adidas_sales_df['Invoice Date']).month
adidas_sales_df['Day'] = pd.DatetimeIndex(adidas_sales_df['Invoice Date']).day
adidas_sales_df.head(10)
# save to file
adidas_sales_df.to_csv("../data/adidas_sales_df.csv", index=False, header=True)
# load adidas_sales_df.csv
adidas_sales_df = pd.read_csv("../data/adidas_sales_df.csv")
adidas_sales_df.head(10)

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method,Year,Month,Day
0,Foot Locker,1185732,2020-01-01 00:00:00,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.0,0.50,In-store,2020,1,1
1,Foot Locker,1185732,2020-01-02 00:00:00,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.0,0.30,In-store,2020,1,2
2,Foot Locker,1185732,2020-01-03 00:00:00,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.0,0.35,In-store,2020,1,3
3,Foot Locker,1185732,2020-01-04 00:00:00,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.0,0.35,In-store,2020,1,4
4,Foot Locker,1185732,2020-01-05 00:00:00,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.0,0.30,In-store,2020,1,5
5,Foot Locker,1185732,2020-01-06 00:00:00,Northeast,New York,New York,Women's Apparel,50.0,1000,500000.0,125000.0,0.25,In-store,2020,1,6
6,Foot Locker,1185732,2020-01-07 00:00:00,Northeast,New York,New York,Men's Street Footwear,50.0,1250,625000.0,312500.0,0.50,In-store,2020,1,7
7,Foot Locker,1185732,2020-01-08 00:00:00,Northeast,New York,New York,Men's Athletic Footwear,50.0,900,450000.0,135000.0,0.30,Outlet,2020,1,8
8,Foot Locker,1185732,2020-01-21 00:00:00,Northeast,New York,New York,Women's Street Footwear,40.0,950,380000.0,133000.0,0.35,Outlet,2020,1,21
9,Foot Locker,1185732,2020-01-22 00:00:00,Northeast,New York,New York,Women's Athletic Footwear,45.0,825,371250.0,129937.5,0.35,Outlet,2020,1,22

In [36]:
# Change the columns of the df to be: ['Retailer', 'Retailer ID','Invoice Date', 'Day','Month', 'Year','Region', 'State', 'City',
#       'Product', 'Price per Unit', 'Units Sold', 'Total Sales',
#       'Operating Profit', 'Operating Margin']
adidas_sales_df = adidas_sales_df[['Retailer', 'Retailer ID','Invoice Date', 'Day','Month', 'Year','Region', 'State', 'City',
         'Product', 'Price per Unit', 'Units Sold', 'Total Sales',
            'Operating Profit', 'Operating Margin', 'Sales Method']]
adidas_sales_df.head(10)
# save to file
adidas_sales_df.to_csv("../data/adidas_sales_df.csv", index=False, header=True)
# load adidas_sales_df.csv
adidas_sales_df = pd.read_csv("../data/adidas_sales_df.csv")
adidas_sales_df.head(10)

,Retailer,Retailer ID,Invoice Date,Day,Month,Year,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,2020-01-01 00:00:00,1,1,2020,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.0,0.50,In-store
1,Foot Locker,1185732,2020-01-02 00:00:00,2,1,2020,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.0,0.30,In-store
2,Foot Locker,1185732,2020-01-03 00:00:00,3,1,2020,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.0,0.35,In-store
3,Foot Locker,1185732,2020-01-04 00:00:00,4,1,2020,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.0,0.35,In-store
4,Foot Locker,1185732,2020-01-05 00:00:00,5,1,2020,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.0,0.30,In-store
5,Foot Locker,1185732,2020-01-06 00:00:00,6,1,2020,Northeast,New York,New York,Women's Apparel,50.0,1000,500000.0,125000.0,0.25,In-store
6,Foot Locker,1185732,2020-01-07 00:00:00,7,1,2020,Northeast,New York,New York,Men's Street Footwear,50.0,1250,625000.0,312500.0,0.50,In-store
7,Foot Locker,1185732,2020-01-08 00:00:00,8,1,2020,Northeast,New York,New York,Men's Athletic Footwear,50.0,900,450000.0,135000.0,0.30,Outlet
8,Foot Locker,1185732,2020-01-21 00:00:00,21,1,2020,Northeast,New York,New York,Women's Street Footwear,40.0,950,380000.0,133000.0,0.35,Outlet
9,Foot Locker,1185732,2020-01-22 00:00:00,22,1,2020,Northeast,New York,New York,Women's Athletic Footwear,45.0,825,371250.0,129937.5,0.35,Outlet

In [37]:
# number of rows
adidas_sales_df.shape[0]

9648

In [38]:
# Breaking the data into 5 csvs for each reagion
# Create 5 new dataframes for the following regions: Northeast, Southeast, Midwest, South, and West
# Northeast
adidas_sales_df_Northeast = adidas_sales_df.loc[adidas_sales_df["Region"] == "Northeast"]
adidas_sales_df_Northeast.head(10)
# save to file
adidas_sales_df_Northeast.to_csv("../data/adidas_sales_df_Northeast.csv", index=False, header=True)
# load adidas_sales_df_Northeast.csv
adidas_sales_df_Northeast = pd.read_csv("../data/adidas_sales_df_Northeast.csv")
adidas_sales_df_Northeast.head(10)
# Southeast
adidas_sales_df_Southeast = adidas_sales_df.loc[adidas_sales_df["Region"] == "Southeast"]
adidas_sales_df_Southeast.head(10)
# save to file
adidas_sales_df_Southeast.to_csv("../data/adidas_sales_df_Southeast.csv", index=False, header=True)
# load adidas_sales_df_Southeast.csv
adidas_sales_df_Southeast = pd.read_csv("../data/adidas_sales_df_Southeast.csv")
adidas_sales_df_Southeast.head(10)
# Midwest
adidas_sales_df_Midwest = adidas_sales_df.loc[adidas_sales_df["Region"] == "Midwest"]
adidas_sales_df_Midwest.head(10)
# save to file
adidas_sales_df_Midwest.to_csv("../data/adidas_sales_df_Midwest.csv", index=False, header=True)
# load adidas_sales_df_Midwest.csv
adidas_sales_df_Midwest = pd.read_csv("../data/adidas_sales_df_Midwest.csv")
adidas_sales_df_Midwest.head(10)
# South
adidas_sales_df_South = adidas_sales_df.loc[adidas_sales_df["Region"] == "South"]
adidas_sales_df_South.head(10)
# save to file
adidas_sales_df_South.to_csv("../data/adidas_sales_df_South.csv", index=False, header=True)
# load adidas_sales_df_South.csv
adidas_sales_df_South = pd.read_csv("../data/adidas_sales_df_South.csv")
adidas_sales_df_South.head(10)
# West
adidas_sales_df_West = adidas_sales_df.loc[adidas_sales_df["Region"] == "West"]
adidas_sales_df_West.head(10)
# save to file
adidas_sales_df_West.to_csv("../data/adidas_sales_df_West.csv", index=False, header=True)
# load adidas_sales_df_West.csv
adidas_sales_df_West = pd.read_csv("../data/adidas_sales_df_West.csv")
adidas_sales_df_West.head(10)

,Retailer,Retailer ID,Invoice Date,Day,Month,Year,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,West Gear,1128299,2020-11-05 00:00:00,5,11,2020,West,California,San Francisco,Men's Apparel,55.0,575,316250.0,158125.0,0.50,Outlet
1,West Gear,1128299,2020-11-06 00:00:00,6,11,2020,West,California,San Francisco,Women's Apparel,50.0,775,387500.0,58125.0,0.15,Outlet
2,West Gear,1128299,2020-11-07 00:00:00,7,11,2020,West,California,San Francisco,Men's Street Footwear,40.0,825,330000.0,115500.0,0.35,Outlet
3,West Gear,1128299,2020-11-08 00:00:00,8,11,2020,West,California,San Francisco,Men's Athletic Footwear,50.0,725,362500.0,72500.0,0.20,Outlet
4,West Gear,1128299,2020-11-09 00:00:00,9,11,2020,West,California,San Francisco,Women's Street Footwear,50.0,725,362500.0,126875.0,0.35,Outlet
5,West Gear,1128299,2020-11-10 00:00:00,10,11,2020,West,California,San Francisco,Women's Athletic Footwear,50.0,575,287500.0,86250.0,0.30,Outlet
6,West Gear,1128299,2020-11-11 00:00:00,11,11,2020,West,California,San Francisco,Men's Apparel,55.0,500,275000.0,137500.0,0.50,Outlet
7,West Gear,1128299,2020-11-12 00:00:00,12,11,2020,West,California,San Francisco,Women's Apparel,50.0,700,350000.0,52500.0,0.15,Outlet
8,West Gear,1128299,2020-11-13 00:00:00,13,11,2020,West,California,San Francisco,Men's Street Footwear,50.0,850,425000.0,148750.0,0.35,Outlet
9,West Gear,1128299,2020-11-14 00:00:00,14,11,2020,West,California,San Francisco,Men's Athletic Footwear,60.0,700,420000.0,84000.0,0.20,Outlet

In [39]:
# Breaking the data into 3 csvs for each Sales Method
# Create 3 new dataframes for the following regions: In-Store, Online, and Outlet

# In-Store
adidas_sales_df_InStore = adidas_sales_df.loc[adidas_sales_df["Sales Method"] == "In-store"]
adidas_sales_df_InStore.head(10)
# save to file
adidas_sales_df_InStore.to_csv("../data/adidas_sales_df_InStore.csv", index=False, header=True)

# Online
adidas_sales_df_Online = adidas_sales_df.loc[adidas_sales_df["Sales Method"] == "Online"]
adidas_sales_df_Online.head(10)
# save to file
adidas_sales_df_Online.to_csv("../data/adidas_sales_df_Online.csv", index=False, header=True)

# Outlet
adidas_sales_df_Outlet = adidas_sales_df.loc[adidas_sales_df["Sales Method"] == "Outlet"]
adidas_sales_df_Outlet.head(10)
# save to file
adidas_sales_df_Outlet.to_csv("../data/adidas_sales_df_Outlet.csv", index=False, header=True)
adidas_sales_df_Outlet.head(10)

,Retailer,Retailer ID,Invoice Date,Day,Month,Year,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
7,Foot Locker,1185732,2020-01-08 00:00:00,8,1,2020,Northeast,New York,New York,Men's Athletic Footwear,50.0,900,450000.0,135000.0,0.30,Outlet
8,Foot Locker,1185732,2020-01-21 00:00:00,21,1,2020,Northeast,New York,New York,Women's Street Footwear,40.0,950,380000.0,133000.0,0.35,Outlet
9,Foot Locker,1185732,2020-01-22 00:00:00,22,1,2020,Northeast,New York,New York,Women's Athletic Footwear,45.0,825,371250.0,129937.5,0.35,Outlet
10,Foot Locker,1185732,2020-01-23 00:00:00,23,1,2020,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.0,0.30,Outlet
11,Foot Locker,1185732,2020-01-24 00:00:00,24,1,2020,Northeast,New York,New York,Women's Apparel,50.0,1000,500000.0,125000.0,0.25,Outlet
12,Foot Locker,1185732,2020-01-25 00:00:00,25,1,2020,Northeast,New York,New York,Men's Street Footwear,50.0,1220,610000.0,305000.0,0.50,Outlet
13,Foot Locker,1185732,2020-01-26 00:00:00,26,1,2020,Northeast,New York,New York,Men's Athletic Footwear,50.0,925,462500.0,138750.0,0.30,Outlet
14,Foot Locker,1185732,2020-01-27 00:00:00,27,1,2020,Northeast,New York,New York,Women's Street Footwear,40.0,950,380000.0,133000.0,0.35,Outlet
15,Foot Locker,1185732,2020-01-28 00:00:00,28,1,2020,Northeast,New York,New York,Women's Athletic Footwear,45.0,800,360000.0,126000.0,0.35,Outlet
16,Foot Locker,1185732,2020-01-29 00:00:00,29,1,2020,Northeast,New York,New York,Men's Apparel,60.0,850,510000.0,153000.0,0.30,Outlet

In [40]:
# Regional Sales Data and visualization

# Calculate Total Sales by State for Midwest Region

Midwest_Sales = adidas_sales_df_Midwest.groupby(["State"])["Total Sales"].sum()
Midwest_Sales

State
Illinois         9797488.0
Indiana          8836198.0
Iowa             7424011.0
Kansas           9972864.0
Michigan        18625433.0
Minnesota        7378068.0
Missouri         9683265.0
Montana         15710886.0
Nebraska         5929038.0
North Dakota     7735580.0
Ohio            18484583.0
South Dakota     8495576.0
Wisconsin        7727469.0
Name: Total Sales, dtype: float64

In [41]:
# Calculate Product Total Sales by State for Midwest Region

Midwest_Sales_Prod = adidas_sales_df_Midwest.groupby(["State", "Product"])["Total Sales"].sum()
Midwest_Sales_Prod

State      Product
Illinois   Men's Apparel                1102791.0
           Men's Athletic Footwear      1560270.0
           Men's Street Footwear        3087951.0
           Women's Apparel              1960895.0
           Women's Athletic Footwear     924799.0
                                          ...
Wisconsin  Men's Athletic Footwear      1142899.0
           Men's Street Footwear        2487006.0
           Women's Apparel              1696874.0
           Women's Athletic Footwear     627271.0
           Women's Street Footwear       803727.0
Name: Total Sales, Length: 78, dtype: float64

In [44]:
# Calculate the Total Sales by Retailer within State - Midwest Region

Midwest_State_RetailSales = adidas_sales_df_Midwest.groupby(["State", "Retailer"])["Total Sales"].sum()
Midwest_State_RetailSales

State         Retailer
Illinois      Foot Locker       9075036.0
              Sports Direct      722452.0
Indiana       West Gear         8836198.0
Iowa          Foot Locker       4796935.0
              West Gear         2627076.0
Kansas        Foot Locker       3520950.0
              Kohl's            6451914.0
Michigan      Foot Locker       2490330.0
              Sports Direct    16135103.0
Minnesota     Foot Locker       6619565.0
              Kohl's             758503.0
Missouri      Foot Locker       7982132.0
              West Gear         1701133.0
Montana       Kohl's           15018998.0
              Sports Direct      691888.0
Nebraska      Foot Locker       5264829.0
              Sports Direct      664209.0
North Dakota  Foot Locker       2548462.0
              Sports Direct     5187118.0
Ohio          Amazon           16835873.0
              West Gear         1648710.0
South Dakota  Foot Locker       5689155.0
              Sports Direct     2806421.0
Wisconsin     West Gear         7727469.0
Name: Total Sales, dtype: float64

In [42]:
# Calculate sales by Retailer in Midwest Region

Midwest_Retailer = adidas_sales_df_Midwest.groupby(["Region", "Retailer"])["Total Sales"].sum()
Midwest_Retailer

Region   Retailer
Midwest  Amazon           16835873.0
         Foot Locker      47987394.0
         Kohl's           22229415.0
         Sports Direct    26207191.0
         West Gear        22540586.0
Name: Total Sales, dtype: float64

In [43]:
# Calculates sales by Product in Midwest Region

Midwest_Reg_Sales_Prod = adidas_sales_df_Midwest.groupby(["Region", "Product"])["Total Sales"].sum()
Midwest_Reg_Sales_Prod

Region   Product
Midwest  Men's Apparel                18125661.0
         Men's Athletic Footwear      21305539.0
         Men's Street Footwear        38322810.0
         Women's Apparel              28206383.0
         Women's Athletic Footwear    13595168.0
         Women's Street Footwear      16244898.0
Name: Total Sales, dtype: float64

In [45]:
# Calculate Total Sales by State for Northeast Region

Northeast_Sales = adidas_sales_df_Northeast.groupby(["State"])["Total Sales"].sum()
Northeast_Sales

State
Connecticut      11573448.0
Delaware         12298412.0
Maine             9195978.0
Maryland          7758059.0
Massachusetts    11076810.0
New Hampshire    16411667.0
New Jersey        9934246.0
New York         64229039.0
Pennsylvania     10357519.0
Rhode Island      8446806.0
Vermont          14352923.0
West Virginia    10689160.0
Name: Total Sales, dtype: float64

In [46]:
# Calculate Product Total Sales by State for Northeast Region

Northeast_Sales_Prod = adidas_sales_df_Northeast.groupby(["State", "Product"])["Total Sales"].sum()
Northeast_Sales_Prod

State          Product
Connecticut    Men's Apparel                1478276.0
               Men's Athletic Footwear      1760417.0
               Men's Street Footwear        3422739.0
               Women's Apparel              2393722.0
               Women's Athletic Footwear    1125920.0
                                              ...
West Virginia  Men's Athletic Footwear      1536373.0
               Men's Street Footwear        3014172.0
               Women's Apparel              2361392.0
               Women's Athletic Footwear    1051468.0
               Women's Street Footwear      1175780.0
Name: Total Sales, Length: 72, dtype: float64

In [47]:
# Calculate the Total Sales by Retailer within State - Midwest Region

Northeast_State_RetailSales = adidas_sales_df_Northeast.groupby(["State", "Retailer"])["Total Sales"].sum()
Northeast_State_RetailSales

State          Retailer
Connecticut    Foot Locker       3630798.0
               Sports Direct     7942650.0
Delaware       Foot Locker       8387568.0
               Kohl's            3910844.0
Maine          Amazon            8611395.0
               West Gear          584583.0
Maryland       Foot Locker       3635043.0
               Sports Direct     2264985.0
               West Gear         1858031.0
Massachusetts  Amazon            4193590.0
               Sports Direct     6883220.0
New Hampshire  Amazon           10077142.0
               Foot Locker       6334525.0
New Jersey     Kohl's            6427685.0
               Sports Direct     3506561.0
New York       Foot Locker      25008568.0
               Kohl's            3692639.0
               Sports Direct     1080662.0
               Walmart          13712005.0
               West Gear        20735165.0
Pennsylvania   Foot Locker       9625338.0
               West Gear          732181.0
Rhode Island   Foot Locker       5426787.0
               Sports Direct     3020019.0
Vermont        Amazon           13380463.0
               West Gear          972460.0
West Virginia  Foot Locker       3277847.0
               West Gear         7411313.0
Name: Total Sales, dtype: float64

In [48]:
# Calculate sales by Retailer in Midwest Region

Northeast_Retailer = adidas_sales_df_Northeast.groupby(["Region", "Retailer"])["Total Sales"].sum()
Northeast_Retailer

Region     Retailer
Northeast  Amazon           36262590.0
           Foot Locker      65326474.0
           Kohl's           14031168.0
           Sports Direct    24698097.0
           Walmart          13712005.0
           West Gear        32293733.0
Name: Total Sales, dtype: float64

In [49]:
# Calculates sales by Product in Midwest Region

Northeast_Reg_Sales_Prod = adidas_sales_df_Northeast.groupby(["Region", "Product"])["Total Sales"].sum()
Northeast_Reg_Sales_Prod

Region     Product
Northeast  Men's Apparel                25744412.0
           Men's Athletic Footwear      28874237.0
           Men's Street Footwear        51025024.0
           Women's Apparel              37543083.0
           Women's Athletic Footwear    19796138.0
           Women's Street Footwear      23341173.0
Name: Total Sales, dtype: float64

In [50]:
# Calculate Total Sales by State for South Region

South_Sales = adidas_sales_df_South.groupby(["State"])["Total Sales"].sum()
South_Sales

State
Alabama        17633424.0
Arkansas       12639347.0
Louisiana      23750781.0
Mississippi    15591709.0
Oklahoma       10620734.0
Tennessee      18067440.0
Texas          46359746.0
Name: Total Sales, dtype: float64

In [51]:
# Calculate Product Total Sales by State for South Region

South_Sales_Prod = adidas_sales_df_South.groupby(["State", "Product"])["Total Sales"].sum()
South_Sales_Prod

State        Product
Alabama      Men's Apparel                2211662.0
             Men's Athletic Footwear      3251234.0
             Men's Street Footwear        2959681.0
             Women's Apparel              3776190.0
             Women's Athletic Footwear    2274558.0
             Women's Street Footwear      3160099.0
Arkansas     Men's Apparel                1991980.0
             Men's Athletic Footwear      1860850.0
             Men's Street Footwear        3283057.0
             Women's Apparel              2688058.0
             Women's Athletic Footwear    1390752.0
             Women's Street Footwear      1424650.0
Louisiana    Men's Apparel                3080401.0
             Men's Athletic Footwear      4607331.0
             Men's Street Footwear        4546907.0
             Women's Apparel              4444283.0
             Women's Athletic Footwear    3197166.0
             Women's Street Footwear      3874693.0
Mississippi  Men's Apparel                2515418.0
             Men's Athletic Footwear      2341155.0
             Men's Street Footwear        3832905.0
             Women's Apparel              3243691.0
             Women's Athletic Footwear    1823905.0
             Women's Street Footwear      1834635.0
Oklahoma     Men's Apparel                1576923.0
             Men's Athletic Footwear      1562870.0
             Men's Street Footwear        2940237.0
             Women's Apparel              2276795.0
             Women's Athletic Footwear    1094823.0
             Women's Street Footwear      1169086.0
Tennessee    Men's Apparel                2304072.0
             Men's Athletic Footwear      3374069.0
             Men's Street Footwear        3062624.0
             Women's Apparel              3839810.0
             Women's Athletic Footwear    2305471.0
             Women's Street Footwear      3181394.0
Texas        Men's Apparel                6022613.0
             Men's Athletic Footwear      8713036.0
             Men's Street Footwear        7819150.0
             Women's Apparel              9338360.0
             Women's Athletic Footwear    6334047.0
             Women's Street Footwear      8132540.0
Name: Total Sales, dtype: float64

In [52]:
# Calculate the Total Sales by Retailer within State - South Region

South_State_RetailSales = adidas_sales_df_South.groupby(["State", "Retailer"])["Total Sales"].sum()
South_State_RetailSales

State        Retailer
Alabama      Amazon             409091.0
             Sports Direct    17224333.0
Arkansas     Walmart           8484446.0
             West Gear         4154901.0
Louisiana    Foot Locker       3353163.0
             West Gear        20397618.0
Mississippi  Foot Locker       5211821.0
             Sports Direct     4987471.0
             Walmart           5392417.0
Oklahoma     Kohl's            3552055.0
             West Gear         7068679.0
Tennessee    Foot Locker        321225.0
             Sports Direct    17746215.0
Texas        Foot Locker        420816.0
             Sports Direct    25300102.0
             Walmart          19172995.0
             West Gear         1465833.0
Name: Total Sales, dtype: float64

In [53]:
# Calculate sales by Retailer in South Region

South_Retailer = adidas_sales_df_South.groupby(["Region", "Retailer"])["Total Sales"].sum()
South_Retailer

Region  Retailer
South   Amazon             409091.0
        Foot Locker       9307025.0
        Kohl's            3552055.0
        Sports Direct    65258121.0
        Walmart          33049858.0
        West Gear        33087031.0
Name: Total Sales, dtype: float64

In [54]:
# Calculates sales by Product in South Region

South_Reg_Sales_Prod = adidas_sales_df_South.groupby(["Region", "Product"])["Total Sales"].sum()
South_Reg_Sales_Prod

Region  Product
South   Men's Apparel                19703069.0
        Men's Athletic Footwear      25710545.0
        Men's Street Footwear        28444561.0
        Women's Apparel              29607187.0
        Women's Athletic Footwear    18420722.0
        Women's Street Footwear      22777097.0
Name: Total Sales, dtype: float64

In [55]:
# Calculate Total Sales by State for Southeast Region

Southeast_Sales = adidas_sales_df_Southeast.groupby(["State"])["Total Sales"].sum()
Southeast_Sales

State
Florida           59283714.0
Georgia           18997466.0
Kentucky          10072848.0
North Carolina    23956531.0
South Carolina    29285637.0
Virginia          21575040.0
Name: Total Sales, dtype: float64

In [56]:
# Calculate Product Total Sales by State for Southeast Region

Southeast_Sales_Prod = adidas_sales_df_Southeast.groupby(["State", "Product"])["Total Sales"].sum()
Southeast_Sales_Prod

State           Product
Florida         Men's Apparel                 9054220.0
                Men's Athletic Footwear      10136284.0
                Men's Street Footwear        12568317.0
                Women's Apparel              11294524.0
                Women's Athletic Footwear     7551886.0
                Women's Street Footwear       8678483.0
Georgia         Men's Apparel                 2436654.0
                Men's Athletic Footwear       3670750.0
                Men's Street Footwear         4012848.0
                Women's Apparel               3579869.0
                Women's Athletic Footwear     2340832.0
                Women's Street Footwear       2956513.0
Kentucky        Men's Apparel                 1282324.0
                Men's Athletic Footwear       1576409.0
                Men's Street Footwear         3098870.0
                Women's Apparel               2047736.0
                Women's Athletic Footwear      905788.0
                Women's Street Footwear       1161721.0
North Carolina  Men's Apparel                 3990466.0
                Men's Athletic Footwear       3678426.0
                Men's Street Footwear         5438257.0
                Women's Apparel               4807086.0
                Women's Athletic Footwear     3002325.0
                Women's Street Footwear       3039971.0
South Carolina  Men's Apparel                 4914897.0
                Men's Athletic Footwear       4556660.0
                Men's Street Footwear         6465330.0
                Women's Apparel               5786397.0
                Women's Athletic Footwear     3744447.0
                Women's Street Footwear       3817906.0
Virginia        Men's Apparel                 2782926.0
                Men's Athletic Footwear       4158491.0
                Men's Street Footwear         4435614.0
                Women's Apparel               3975549.0
                Women's Athletic Footwear     2757520.0
                Women's Street Footwear       3464940.0
Name: Total Sales, dtype: float64

In [57]:
# Calculate the Total Sales by Retailer within State - Southeast Region

Southeast_State_RetailSales = adidas_sales_df_Southeast.groupby(["State", "Retailer"])["Total Sales"].sum()
Southeast_State_RetailSales

State           Retailer
Florida         Foot Locker       9564336.0
                Sports Direct    11222136.0
                Walmart          21005539.0
                West Gear        17491703.0
Georgia         Foot Locker       4199968.0
                Sports Direct    14797498.0
Kentucky        Amazon            7092657.0
                Foot Locker       2980191.0
North Carolina  Amazon            3733676.0
                Sports Direct    20222855.0
South Carolina  Foot Locker      24822280.0
                Sports Direct     4463357.0
Virginia        Foot Locker      18102343.0
                Sports Direct     3472697.0
Name: Total Sales, dtype: float64

In [58]:
# Calculate sales by Retailer in Southeast Region

Southeast_Retailer = adidas_sales_df_Southeast.groupby(["Region", "Retailer"])["Total Sales"].sum()
Southeast_Retailer

Region     Retailer
Southeast  Amazon           10826333.0
           Foot Locker      59669118.0
           Sports Direct    54178543.0
           Walmart          21005539.0
           West Gear        17491703.0
Name: Total Sales, dtype: float64

In [59]:
# Calculates sales by Product in Southeast Region

Southeast_Reg_Sales_Prod = adidas_sales_df_Southeast.groupby(["Region", "Product"])["Total Sales"].sum()
Southeast_Reg_Sales_Prod

Region     Product
Southeast  Men's Apparel                24461487.0
           Men's Athletic Footwear      27777020.0
           Men's Street Footwear        36019236.0
           Women's Apparel              31491161.0
           Women's Athletic Footwear    20302798.0
           Women's Street Footwear      23119534.0
Name: Total Sales, dtype: float64

In [60]:
# Calculate Total Sales by State for West Region

West_Sales = adidas_sales_df_West.groupby(["State"])["Total Sales"].sum()
West_Sales

State
Alaska        14753103.0
Arizona       15782221.0
California    60174133.0
Colorado      20996536.0
Hawaii        22282457.0
Idaho         19276878.0
Nevada        20858509.0
New Mexico    19865016.0
Oregon        21349674.0
Utah           9696420.0
Washington    26330718.0
Wyoming       18577517.0
Name: Total Sales, dtype: float64

In [61]:
# Calculate Product Total Sales by State for West Region

West_Sales_Prod = adidas_sales_df_West.groupby(["State", "Product"])["Total Sales"].sum()
West_Sales_Prod

State    Product
Alaska   Men's Apparel                1677524.0
         Men's Athletic Footwear      2528729.0
         Men's Street Footwear        4391934.0
         Women's Apparel              2877499.0
         Women's Athletic Footwear    1368514.0
                                        ...
Wyoming  Men's Athletic Footwear      2901498.0
         Men's Street Footwear        4376047.0
         Women's Apparel              3773586.0
         Women's Athletic Footwear    2228345.0
         Women's Street Footwear      2422141.0
Name: Total Sales, Length: 72, dtype: float64

In [62]:
# Calculate the Total Sales by Retailer within State - West Region

West_State_RetailSales = adidas_sales_df_West.groupby(["State", "Retailer"])["Total Sales"].sum()
West_State_RetailSales

State       Retailer
Alaska      Amazon           13365025.0
            Foot Locker       1388078.0
Arizona     Foot Locker      13155216.0
            Kohl's            2627005.0
California  Foot Locker        507753.0
            Kohl's           26305983.0
            West Gear        33360397.0
Colorado    West Gear        20996536.0
Hawaii      Foot Locker      11992498.0
            Sports Direct     3498951.0
            Walmart           6791008.0
Idaho       Foot Locker       7018766.0
            Sports Direct     5831043.0
            West Gear         6427069.0
Nevada      West Gear        20858509.0
New Mexico  Kohl's           17065965.0
            Sports Direct     2799051.0
Oregon      West Gear        21349674.0
Utah        West Gear         9696420.0
Washington  Foot Locker       1468043.0
            West Gear        24862675.0
Wyoming     Foot Locker       2274355.0
            Kohl's           16303162.0
Name: Total Sales, dtype: float64

In [63]:
# Calculate sales by Retailer in West Region

West_Retailer = adidas_sales_df_West.groupby(["Region", "Retailer"])["Total Sales"].sum()
West_Retailer

Region  Retailer
West    Amazon            13365025.0
        Foot Locker       37804709.0
        Kohl's            62302115.0
        Sports Direct     12129045.0
        Walmart            6791008.0
        West Gear        137551280.0
Name: Total Sales, dtype: float64

In [71]:
# Calculates sales by Product in Southeast Region

West_Reg_Sales_Prod = adidas_sales_df_West.groupby(["Region", "Product"])["Total Sales"].sum()
West_Reg_Sales_Prod

Region  Product
West    Men's Apparel                35694003.0
        Men's Athletic Footwear      50006339.0
        Men's Street Footwear        55014613.0
        Women's Apparel              52191046.0
        Women's Athletic Footwear    34517070.0
        Women's Street Footwear      42520111.0
Name: Total Sales, dtype: float64

In [64]:
# Calculate Total Sales by Region for by In-Store Sales Method
InStore_Sales_Group = adidas_sales_df_InStore.groupby(["Sales Method", "Region"])["Total Sales"].sum()
InStore_Sales_Group.head()

Sales Method  Region
In-store      Midwest       59554000.0
              Northeast    115950750.0
              South          3393750.0
              Southeast     72361250.0
              West         105384000.0
Name: Total Sales, dtype: float64

In [65]:
# Calculate Total Sales by Region for by Online Sales Method
Online_Sales_Group  = adidas_sales_df_Online.groupby(["Sales Method", "Region"])["Total Sales"].sum()
Online_Sales_Group.head()

Sales Method  Region
Online        Midwest      40253459.0
              Northeast     4626777.0
              South        59838835.0
              Southeast    83900210.0
              West         59053601.0
Name: Total Sales, dtype: float64

In [66]:
# Calculate Total Sales by Region for by Outlet Sales Method
Outlet_Sales_Group  = adidas_sales_df_Outlet.groupby(["Sales Method", "Region"])["Total Sales"].sum()
Outlet_Sales_Group.head()

Sales Method  Region
Outlet        Midwest       35993000.0
              Northeast     65746540.0
              South         81430596.0
              Southeast      6909776.0
              West         105505581.0
Name: Total Sales, dtype: float64

In [67]:
# Calculate Total Sales by In-Store Sales Method by Retailer
InStore_Sales_Retailer = adidas_sales_df_InStore.groupby(["Sales Method", "Retailer"])["Total Sales"].sum()
InStore_Sales_Retailer.head()

Sales Method  Retailer
In-store      Amazon           22366250.0
              Foot Locker      76525000.0
              Kohl's           29566250.0
              Sports Direct    55048500.0
              Walmart          16411250.0
Name: Total Sales, dtype: float64

In [68]:
# Calculate Total Sales by Online Sales Method by Retailer
Online_Sales_Retailer = adidas_sales_df_Online.groupby(["Sales Method", "Retailer"])["Total Sales"].sum()
Online_Sales_Retailer.head()

Sales Method  Retailer
Online        Amazon           28909731.0
              Foot Locker      72943290.0
              Kohl's           30992229.0
              Sports Direct    59225997.0
              Walmart          15069494.0
Name: Total Sales, dtype: float64

In [69]:
# Calculate Total Sales by Outlet Sales Method by Retailer
Outlet_Sales_Retailer = adidas_sales_df_Outlet.groupby(["Sales Method", "Retailer"])["Total Sales"].sum()
Outlet_Sales_Retailer.head()

Sales Method  Retailer
Outlet        Amazon           26422931.0
              Foot Locker      70626430.0
              Kohl's           41556274.0
              Sports Direct    68196500.0
              Walmart          43077666.0
Name: Total Sales, dtype: float64